.anchor-class {
  color: rgb(136, 34, 34);
  text-decoration: none;
  letter-spacing: 0.1em;
  
  display: inline-block;
  position: relative;
  top: 2px;
}
.anchor-class:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(204, 120, 120);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.anchor-class:hover:after { 
  width: 100%; 
  left: 0; 
}


